*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: url(../portfolio/background_page-0001.jpg);
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo{
    color: white;
    font-size: 35px;
    letter-spacing: 1px;
    cursor: pointer;

}
span{
    color: #f9004d;
}
nav ul li{
    list-style-type:none ;
    display: inline-block;
    padding: 10px 25px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}
nav ul li a:hover{
    color: #f9004d;
    transition: 0.4s;
    
}
.btn{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}
.btn:hover{
    transform: scale(1.2);
}
.slide1{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}
h1{
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
}
.slide1 h3{
    color: rgba(255, 255, 255, 0.838);
    font-size: 25px;
    margin-bottom: 50px;

}
h4{
    color: rgba(247, 210, 233, 0.8);
    letter-spacing: 2px;
    font-size: 20px;

}
.whoIam form{
    width: 380px;
    max-width: 100%;
    position: relative;
}
.whoIam form input:first-child{
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #f9004d;
    outline: none;
    border-radius: 30px;
}
.whoIam form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    padding: 10px 30px;
    border: none;
    border-radius: 30px;
    background-color: #f9004d;
    color: white;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 6px;
    right: 6px;
}
.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #191919;
}
.about img{
    height: auto;
    width: 430px;

}
.aboutText{
    width: 550px;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.aboutText h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.aboutText h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;

}
.aboutText p{
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;

}
button{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;

}
button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}
.service{
    background: #101010;
    width: 100%;
    padding: 100px 0px;
   
}
.title h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}
.card{
    height: 380px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin: 15px;
    position: relative;
    overflow: hidden;
    text-align: center;

}
.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: #f9004d;
}
h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}
.description p{
    color: #fcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}
.card .button{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 9px 22px;
    border-radius: 30px;
    transition: .4s;
}
.card .button:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
    
}
.contactMe{
    width: 100%;
    height: 290px;
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.contactMe p{
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 25px;
}
.contactMe .buttonTwo{
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}
.contactMe .buttonTwo:hover{
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}
footer{
    position: relative;
    width: 100%;
    height: 400px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}
footer p:nth-child(2){
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;

}
.socialmedia{
    display: flex;
}
.socialmedia a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9004d;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.socialmedia a:hover{
    transform: scale(1.3);
    transition: .3s;
}
.end{
    position: absolute;
    color: #f9004d;
    bottom: 35px;
    font-size: 14px;
}
body {
    background-color: #111;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
.skills {
    display: flex;
    justify-content: space-around;
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
  }
  
.skill-category {
    width: 45%;
    margin-right: 200px;
  }
.skill-category:last-child{
    margin-right: 0;
}
  
.skill-category h2 {
    
    font-size: 1.8em;
    margin-bottom: 20px;
    border-bottom: 1px solid #444;
    padding-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
.skill {
    margin-bottom: 20px;
  }
  
.skill h3 {
    color: rgb(234, 247, 181);
    font-size: 1.5em;
    margin-bottom: 10px;
  }
  
.skill-bar {
    background-color: #333;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
  }
  
.skill-level {
    width: 0;
    height: 100%;
    background-color: #f9004d;
    text-align: right;
    line-height: 20px;
    transition: width 1s ease-in-out;
    border-radius: 10px;
  }
  
.js {
    width: 80%;
    
  }
  
.html-css {
    width: 90%;
  }
  
.python {
    width: 70%;
  }
  
.project-management {
    width: 85%;
  }
  
.communication {
    width: 75%;
  }
  
.teamwork {
    width: 80%;
  }
  
  
.skill-level:hover {
    width: 95%;
  }
body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
  }
  
.scroll-to-top:hover {
    background-color: #555;
  }
  
.arrow {
    font-size: 24px;
    color: white;
  }
.animate{
    opacity: 0;
    transform: translateY(-50px);
    animation: fadeInSlide 2s ease-out forwards;
}


  @keyframes fadeInSlide {
    0% {
      opacity: 0;
      transform: translateX(-50px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
 

    



